APPLICATION_PORT=3000
APPLICATION_ENVIRONMENT=development
POSTGRESQL_DATA_SOURCE=host=localhost port=5432 user=afraniocaires password=postgres dbname=ecommerce sslmode=disable
JSON_WEB_TOKEN_SECRET=RED-DEAD-REDEMPTION-2
JSON_WEB_TOKEN_ISSUER=afranio
JSON_WEB_TOKEN_LIFETIME=15m
